@use "sass:color";

$primary: rgb(93, 238, 93);
$delete: rgb(189, 28, 28);
$background: rgb(37, 43, 39);
$bg-light: color.adjust($background, $lightness: 10%);
$font: white;
$hover-font: rgb(221, 17, 177);
