@use "./colors" as *;
@use "sass:color";

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik_Scribble/RubikScribble-Regular.ttf);
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

body {
  background-color: $background;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  margin: auto;
  color: $font;
  max-width: 1000px;
}

h1 {
  font-size: 4rem;
  color: $primary;
  font-family: Rubik, sans-serif;
  text-align: center;
}

.current-joke {
  background-color: $bg-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__text {
    margin: 0 0 2rem 0;
  }
  &__actions {
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet-and-up {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__load,
  &__save {
    height: 3rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @include tablet-and-up {
      max-width: 180px;
      font-size: 1rem;
    }
  }
  &__load {
    background-color: $primary;
    border: none;
  }
  &__save {
    background-color: $bg-light;
    color: $primary;
    border-color: $primary;
    border-style: groove;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &--disabled {
      display: none;
    }
  }
  &__save:hover,
  &__load:hover {
    background-color: $hover-font;
    border: none;
  }
}

.storage {
  margin-top: 4rem;

  &__heading {
    font-family: Rubik, sans-serif;

    @include tablet-and-up {
      margin: 2rem;
    }
  }
  &__saved-joke {
    background-color: $bg-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @include tablet-and-up {
      margin: 2rem;
    }
  }
  &__text {
    margin: 1rem;
  }
  &__delete {
    margin: 1rem;
    background-color: $delete;
    border-radius: 4px;
    border: none;
    color: $font;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  &__delete:hover {
    background-color: color.adjust($delete, $lightness: 20%);
  }
}
